<a href="https://colab.research.google.com/github/rodrigodemend/Previsao_Covid/blob/main/Notebooks/Importa%C3%A7%C3%A3o_e_Limpeza_dos_dados_de_Covid_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import fbprophet
fbprophet.__version__

'0.7.1'

In [20]:
import pandas as pd
import numpy as np

In [21]:
def import_and_clean_data(url_data):
  return

In [22]:
import pandas as pd
raw_data = pd.read_csv('https://raw.githubusercontent.com/rodrigodemend/Previsao_Covid/main/Dados/Raw/Covid_per_state.csv')
raw_data.head()

   epidemiological_week        date  ...  is_last is_repeated
0                202151  2021-12-20  ...    False        True
1                202151  2021-12-20  ...     True       False
2                202151  2021-12-20  ...     True       False
3                202151  2021-12-20  ...     True       False
4                202151  2021-12-20  ...     True       False

[5 rows x 16 columns]

Copiando a tabela do site em formato html

In [23]:
html_metadata = """<table>
<thead>
<tr>
<th>Coluna</th>
<th>Tipo</th>
<th>Título</th>
<th>Descrição</th>
</tr>
</thead>
<tbody>
<tr>
<td> epidemiological_week </td>
<td> integer</td>
<td> Semana epidemiológica </td>
<td> Número da semana epidemiológica. </td>
</tr>
<tr>
<td> date </td>
<td> string (max_length=10)</td>
<td> Data </td>
<td> Data de coleta dos dados no formato YYYY-MM-DD. </td>
</tr>
<tr>
<td> order_for_place </td>
<td> integer</td>
<td> Dias a partir do 1o caso </td>
<td> Número que identifica a ordem do registro para este local. O registro referente ao primeiro boletim em que esse local aparecer será contabilizado como 1 e os demais boletins incrementarão esse valor. </td>
</tr>
<tr>
<td> state </td>
<td> string (max_length=2)</td>
<td> UF </td>
<td> Sigla da unidade federativa, exemplo: SP. </td>
</tr>
<tr>
<td> city </td>
<td> string (max_length=64)</td>
<td> Município </td>
<td> Nome do município (pode estar em branco quando o registro é referente ao estado, pode ser preenchido com `Importados/Indefinidos` também). </td>
</tr>
<tr>
<td> city_ibge_code </td>
<td> integer</td>
<td> Cód. IBGE </td>
<td> Código IBGE do local. </td>
</tr>
<tr>
<td> place_type </td>
<td> string (max_length=5)</td>
<td> Tipo de local </td>
<td> Tipo de local que esse registro descreve, pode ser city ou state. </td>
</tr>
<tr>
<td> last_available_date </td>
<td> string (max_length=10)</td>
<td> Data da informação </td>
<td> Data da qual o dado se refere. </td>
</tr>
<tr>
<td> last_available_confirmed </td>
<td> integer</td>
<td> Confirmados acum. </td>
<td> Número de casos confirmados do último dia disponível igual ou anterior à data date. </td>
</tr>
<tr>
<td> last_available_confirmed_per_100k_inhabitants </td>
<td> float</td>
<td> Confirmados acum./100k hab. </td>
<td> Número de casos confirmados por 100.000 habitantes do último dia disponível igual ou anterior à data date. </td>
</tr>
<tr>
<td> new_confirmed </td>
<td> integer</td>
<td> Confirmações no dia </td>
 <td> Número de novos casos confirmados desde o último dia (note que caso is_repeated seja True, esse valor sempre será 0 e que esse valor pode ser negativo caso a SES remaneje os casos desse município para outro). </td>
</tr>
<tr>
<td> last_available_deaths </td>
<td> integer</td>
<td> Óbitos acum. </td>
<td> Número de mortes do último dia disponível igual ou anterior à data date. </td>
</tr>
<tr>
<td> new_deaths </td>
<td> integer</td>
<td> Óbitos no dia </td>
<td> Número de novos óbitos desde o último dia (note que caso is_repeated seja True, esse valor sempre será 0 e que esse valor pode ser negativo caso a SES remaneje os casos desse município para outro). </td>
</tr>
<tr>
<td> last_available_death_rate </td>
<td> float</td>
<td> Óbitos/confirmados </td>
<td> Taxa de mortalidade (mortes / confirmados) do último dia disponível igual ou anterior à data date. </td>
</tr>
<tr>
<td> estimated_population </td>
<td> integer</td>
<td> População estimada 2019 </td>
<td> População estimada para o local em 2020, segundo o IBGE. </td>
</tr>
<tr>
<td> estimated_population_2019 </td>
<td> integer</td>
<td> População estimada 2019 </td>
<td> População estimada para esse município/estado em 2019, segundo o IBGE. </td>
</tr>
<tr>
<td> is_last </td>
<td> bool</td>
<td> É a última atualização? </td>
<td> Campo pré-computado que diz se esse registro é o mais novo para esse local, pode ser True ou False (caso filtre por esse campo, use is_last=True ou is_last=False, não use o valor em minúsculas). </td>
</tr>
<tr>
<td> is_repeated </td>
<td> bool</td>
<td> Dado repetido? </td>
<td> Campo pré-computado que diz se as informações nesse registro foram publicadas pela Secretaria Estadual de Saúde no dia date ou se o dado é repetido do último dia em que o dado está disponível (igual ou anterior a date). Isso ocorre pois nem todas as secretarias publicam boletins todos os dias. Veja também o campo last_available_date. </td>
</tr>
</tbody>
</table>"""

In [24]:
metadata = pd.read_html(html_metadata)[0]
metadata

                                           Coluna  ...                                          Descrição
0                            epidemiological_week  ...                   Número da semana epidemiológica.
1                                            date  ...    Data de coleta dos dados no formato YYYY-MM-DD.
2                                 order_for_place  ...  Número que identifica a ordem do registro para...
3                                           state  ...          Sigla da unidade federativa, exemplo: SP.
4                                            city  ...  Nome do município (pode estar em branco quando...
5                                  city_ibge_code  ...                              Código IBGE do local.
6                                      place_type  ...  Tipo de local que esse registro descreve, pode...
7                             last_available_date  ...                     Data da qual o dado se refere.
8                        last_available_confirmed  ...  Número de casos confirmados do último dia disp...
9   last_available_confirmed_per_100k_inhabitants  ...  Número de casos confirmados por 100.000 habita...
10                                  new_confirmed  ...  Número de novos casos confirmados desde o últi...
11                          last_available_deaths  ...  Número de mortes do último dia disponível igua...
12                                     new_deaths  ...  Número de novos óbitos desde o último dia (not...
13                      last_available_death_rate  ...  Taxa de mortalidade (mortes / confirmados) do ...
14                           estimated_population  ...  População estimada para o local em 2020, segun...
15                      estimated_population_2019  ...  População estimada para esse município/estado ...
16                                        is_last  ...  Campo pré-computado que diz se esse registro é...
17                                    is_repeated  ...  Campo pré-computado que diz se as informações ...

[18 rows x 4 columns]

In [25]:
raw_data.shape

(17500, 16)

In [26]:
filter_columns = ['epidemiological_week', 'date', 'state', 'last_available_confirmed', 'new_confirmed', 'last_available_deaths', 'new_deaths']

In [27]:
data = raw_data[filter_columns]
data.head()

   epidemiological_week        date  ... last_available_deaths  new_deaths
0                202151  2021-12-20  ...                  1850           0
1                202151  2021-12-20  ...                  6379           2
2                202151  2021-12-20  ...                 13820           0
3                202151  2021-12-20  ...                  2009           1
4                202151  2021-12-20  ...                 27438           6

[5 rows x 7 columns]

In [28]:
data_new_confirmed = data.pivot_table(index=['date'], columns=['state'], values=['new_confirmed'])
data_new_confirmed.columns = data_new_confirmed.columns.droplevel()
data_new_confirmed

state         AC    AL     AM     AP   BA  ...     RS     SC    SE     SP   TO
date                                       ...
2020-02-25   NaN   NaN    NaN    NaN  NaN  ...    NaN    NaN   NaN    1.0  NaN
2020-02-26   NaN   NaN    NaN    NaN  NaN  ...    NaN    NaN   NaN    0.0  NaN
2020-02-27   NaN   NaN    NaN    NaN  NaN  ...    NaN    NaN   NaN    0.0  NaN
2020-02-28   NaN   NaN    NaN    NaN  NaN  ...    NaN    NaN   NaN    1.0  NaN
2020-02-29   NaN   NaN    NaN    NaN  NaN  ...    NaN    NaN   NaN    0.0  NaN
...          ...   ...    ...    ...  ...  ...    ...    ...   ...    ...  ...
2021-12-16   8.0  14.0  179.0  110.0  0.0  ...  163.0  109.0   9.0    0.0  0.0
2021-12-17   6.0  15.0  319.0  104.0  0.0  ...  215.0  164.0  11.0  490.0  0.0
2021-12-18  15.0  17.0   87.0   72.0  0.0  ...  151.0  137.0   1.0  102.0  0.0
2021-12-19   6.0   3.0   77.0   51.0  0.0  ...  132.0   80.0   4.0    0.0  0.0
2021-12-20   0.0   6.0   47.0   60.0  0.0  ...  125.0   54.0   4.0    0.0  0.0

[665 rows x 27 columns]

In [29]:
data_new_confirmed.corr()['SP'].sort_values(ascending=False)

state
SP    1.000000
MG    0.814720
BA    0.800318
PE    0.782539
MT    0.699265
PI    0.643634
MS    0.638606
ES    0.614583
AL    0.595365
TO    0.586870
RO    0.586498
PB    0.583113
RS    0.542452
SE    0.530664
AC    0.499829
CE    0.490710
PR    0.488767
SC    0.478441
MA    0.466676
PA    0.462104
AM    0.449511
GO    0.419069
DF    0.412111
RR    0.393433
AP    0.301913
RN    0.225675
RJ    0.202690
Name: SP, dtype: float64

In [30]:
data_new_confirmed.corr()

state        AC        AL        AM  ...        SE        SP        TO
state                                ...
AC     1.000000  0.500887  0.606974  ...  0.439940  0.499829  0.441347
AL     0.500887  1.000000  0.381201  ...  0.661668  0.595365  0.506761
AM     0.606974  0.381201  1.000000  ...  0.339933  0.449511  0.281113
AP     0.509719  0.457668  0.426983  ...  0.353565  0.301913  0.315745
BA     0.569722  0.653985  0.526169  ...  0.638056  0.800318  0.628734
CE     0.411573  0.489046  0.225536  ...  0.476731  0.490710  0.415232
DF     0.428895  0.626139  0.252506  ...  0.472217  0.412111  0.587795
ES     0.527383  0.487418  0.415306  ...  0.584342  0.614583  0.569098
GO     0.176917  0.192133  0.124800  ...  0.204832  0.419069  0.675237
MA     0.434728  0.588744  0.356668  ...  0.358150  0.466676  0.442622
MG     0.460170  0.508376  0.383184  ...  0.526061  0.814720  0.553575
MS     0.386880  0.470235  0.285558  ...  0.611413  0.638606  0.702705
MT     0.445055  0.465531  0.344332  ...  0.514811  0.699265  0.798868
PA     0.537436  0.548313  0.484314  ...  0.462276  0.462104  0.617264
PB     0.402369  0.599325  0.328430  ...  0.523751  0.583113  0.451537
PE     0.445460  0.581954  0.398567  ...  0.593632  0.782539  0.535765
PI     0.506307  0.581736  0.344414  ...  0.603341  0.643634  0.731928
PR     0.256062  0.316332  0.218385  ...  0.375365  0.488767  0.359543
RJ     0.073654  0.113592  0.091014  ...  0.099021  0.202690  0.107959
RN     0.053683  0.229201  0.070243  ...  0.207069  0.225675  0.163512
RO     0.593621  0.514468  0.536715  ...  0.492614  0.586498  0.618502
RR     0.342166  0.390701  0.283538  ...  0.320357  0.393433  0.369975
RS     0.323852  0.267857  0.253646  ...  0.280232  0.542452  0.364361
SC     0.382507  0.261177  0.301946  ...  0.313474  0.478441  0.456340
SE     0.439940  0.661668  0.339933  ...  1.000000  0.530664  0.475515
SP     0.499829  0.595365  0.449511  ...  0.530664  1.000000  0.586870
TO     0.441347  0.506761  0.281113  ...  0.475515  0.586870  1.000000

[27 rows x 27 columns]

In [31]:
data_new_deaths = data.pivot_table(index=['date'], columns=['state'], values=['new_deaths'])
data_new_deaths.columns = data_new_deaths.columns.droplevel()
data_new_deaths

state        AC   AL   AM   AP   BA    CE  ...   RR    RS    SC   SE     SP   TO
date                                       ...
2020-02-25  NaN  NaN  NaN  NaN  NaN   NaN  ...  NaN   NaN   NaN  NaN    0.0  NaN
2020-02-26  NaN  NaN  NaN  NaN  NaN   NaN  ...  NaN   NaN   NaN  NaN    0.0  NaN
2020-02-27  NaN  NaN  NaN  NaN  NaN   NaN  ...  NaN   NaN   NaN  NaN    0.0  NaN
2020-02-28  NaN  NaN  NaN  NaN  NaN   NaN  ...  NaN   NaN   NaN  NaN    0.0  NaN
2020-02-29  NaN  NaN  NaN  NaN  NaN   NaN  ...  NaN   NaN   NaN  NaN    0.0  NaN
...         ...  ...  ...  ...  ...   ...  ...  ...   ...   ...  ...    ...  ...
2021-12-16  0.0  2.0  3.0  0.0  4.0   4.0  ...  2.0  17.0   9.0  0.0    0.0  0.0
2021-12-17  0.0  2.0  0.0  0.0  7.0   0.0  ...  0.0  12.0  10.0  0.0  259.0  0.0
2021-12-18  0.0  1.0  0.0  0.0  2.0   7.0  ...  0.0   5.0   4.0  1.0   51.0  0.0
2021-12-19  0.0  0.0  0.0  0.0  2.0   0.0  ...  0.0   4.0   5.0  0.0    0.0  0.0
2021-12-20  0.0  2.0  0.0  1.0  6.0  10.0  ...  0.0   2.0   2.0  1.0    0.0  0.0

[665 rows x 27 columns]

In [32]:
data_new_deaths.corr()['SP'].sort_values(ascending=False)

state
SP    1.000000
RS    0.781816
RJ    0.759054
PR    0.748741
BA    0.741463
SC    0.705246
TO    0.687274
MS    0.668002
MG    0.656719
PB    0.653186
AL    0.643569
MA    0.642422
SE    0.608074
PE    0.605668
DF    0.603580
MT    0.597697
RO    0.587958
ES    0.558924
CE    0.544051
GO    0.523769
PI    0.506530
AP    0.474616
PA    0.466781
AC    0.452326
RN    0.340118
RR    0.276803
AM    0.118246
Name: SP, dtype: float64

In [33]:
data_new_deaths.corr()

state        AC        AL        AM  ...        SE        SP        TO
state                                ...
AC     1.000000  0.638973  0.246388  ...  0.586714  0.452326  0.465684
AL     0.638973  1.000000  0.140353  ...  0.801634  0.643569  0.645683
AM     0.246388  0.140353  1.000000  ...  0.069448  0.118246  0.044431
AP     0.543843  0.618418  0.259393  ...  0.559982  0.474616  0.424606
BA     0.569739  0.763017  0.132183  ...  0.752224  0.741463  0.791924
CE     0.492103  0.582855  0.119827  ...  0.514016  0.544051  0.423166
DF     0.510404  0.569831 -0.035850  ...  0.645495  0.603580  0.731633
ES     0.603460  0.652146  0.161617  ...  0.681469  0.558924  0.559624
GO     0.365010  0.452957  0.045972  ...  0.460715  0.523769  0.655056
MA     0.640611  0.899775  0.089881  ...  0.768437  0.642422  0.592063
MG     0.334853  0.544183  0.098486  ...  0.541471  0.656719  0.602972
MS     0.398723  0.625499  0.053616  ...  0.631746  0.668002  0.726962
MT     0.554219  0.691522  0.101212  ...  0.710704  0.597697  0.742515
PA     0.571454  0.649307  0.245485  ...  0.452859  0.466781  0.406080
PB     0.596218  0.771517  0.115985  ...  0.784854  0.653186  0.708241
PE     0.535790  0.759754  0.165078  ...  0.634887  0.605668  0.398453
PI     0.491850  0.620216  0.046299  ...  0.681812  0.506530  0.577940
PR     0.356153  0.510380  0.047216  ...  0.484895  0.748741  0.646810
RJ     0.400004  0.547067  0.231469  ...  0.482809  0.759054  0.444620
RN     0.496982  0.575370  0.060561  ...  0.557980  0.340118  0.427477
RO     0.574700  0.591522  0.317995  ...  0.585178  0.587958  0.660564
RR     0.361336  0.347984  0.269849  ...  0.326845  0.276803  0.256625
RS     0.490375  0.520158  0.124654  ...  0.540447  0.781816  0.728136
SC     0.479193  0.527183  0.128483  ...  0.543455  0.705246  0.731375
SE     0.586714  0.801634  0.069448  ...  1.000000  0.608074  0.605253
SP     0.452326  0.643569  0.118246  ...  0.608074  1.000000  0.687274
TO     0.465684  0.645683  0.044431  ...  0.605253  0.687274  1.000000

[27 rows x 27 columns]

In [56]:
data_new_deaths.to_csv('/content/data_new_deaths.csv', encoding='utf-8', index=True)
data_new_confirmed.to_csv('/content/data_new_confirmed.csv', encoding='utf-8', index=True)