<a href="https://colab.research.google.com/github/rodrigodemend/Previsao_Covid/blob/main/Notebooks/Importa%C3%A7%C3%A3o_e_Limpeza_dos_dados_de_Covid_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
def import_and_clean_data(url_data):
  return

In [5]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/rodrigodemend/Previsao_Covid/main/Dados/Covid_per_state.csv')
data.head()

   epidemiological_week        date  ...  is_last is_repeated
0                202151  2021-12-20  ...    False        True
1                202151  2021-12-20  ...     True       False
2                202151  2021-12-20  ...     True       False
3                202151  2021-12-20  ...     True       False
4                202151  2021-12-20  ...     True       False

[5 rows x 16 columns]

In [19]:
html_metadata = """<table>
<thead>
<tr>
<th>Coluna</th>
<th>Tipo</th>
<th>Título</th>
<th>Descrição</th>
</tr>
</thead>
<tbody>
<tr>
<td> epidemiological_week </td>
<td> integer</td>
<td> Semana epidemiológica </td>
<td> Número da semana epidemiológica. </td>
</tr>
<tr>
<td> date </td>
<td> string (max_length=10)</td>
<td> Data </td>
<td> Data de coleta dos dados no formato YYYY-MM-DD. </td>
</tr>
<tr>
<td> order_for_place </td>
<td> integer</td>
<td> Dias a partir do 1o caso </td>
<td> Número que identifica a ordem do registro para este local. O registro referente ao primeiro boletim em que esse local aparecer será contabilizado como 1 e os demais boletins incrementarão esse valor. </td>
</tr>
<tr>
<td> state </td>
<td> string (max_length=2)</td>
<td> UF </td>
<td> Sigla da unidade federativa, exemplo: SP. </td>
</tr>
<tr>
<td> city </td>
<td> string (max_length=64)</td>
<td> Município </td>
<td> Nome do município (pode estar em branco quando o registro é referente ao estado, pode ser preenchido com `Importados/Indefinidos` também). </td>
</tr>
<tr>
<td> city_ibge_code </td>
<td> integer</td>
<td> Cód. IBGE </td>
<td> Código IBGE do local. </td>
</tr>
<tr>
<td> place_type </td>
<td> string (max_length=5)</td>
<td> Tipo de local </td>
<td> Tipo de local que esse registro descreve, pode ser city ou state. </td>
</tr>
<tr>
<td> last_available_date </td>
<td> string (max_length=10)</td>
<td> Data da informação </td>
<td> Data da qual o dado se refere. </td>
</tr>
<tr>
<td> last_available_confirmed </td>
<td> integer</td>
<td> Confirmados acum. </td>
<td> Número de casos confirmados do último dia disponível igual ou anterior à data date. </td>
</tr>
<tr>
<td> last_available_confirmed_per_100k_inhabitants </td>
<td> float</td>
<td> Confirmados acum./100k hab. </td>
<td> Número de casos confirmados por 100.000 habitantes do último dia disponível igual ou anterior à data date. </td>
</tr>
<tr>
<td> new_confirmed </td>
<td> integer</td>
<td> Confirmações no dia </td>
 <td> Número de novos casos confirmados desde o último dia (note que caso is_repeated seja True, esse valor sempre será 0 e que esse valor pode ser negativo caso a SES remaneje os casos desse município para outro). </td>
</tr>
<tr>
<td> last_available_deaths </td>
<td> integer</td>
<td> Óbitos acum. </td>
<td> Número de mortes do último dia disponível igual ou anterior à data date. </td>
</tr>
<tr>
<td> new_deaths </td>
<td> integer</td>
<td> Óbitos no dia </td>
<td> Número de novos óbitos desde o último dia (note que caso is_repeated seja True, esse valor sempre será 0 e que esse valor pode ser negativo caso a SES remaneje os casos desse município para outro). </td>
</tr>
<tr>
<td> last_available_death_rate </td>
<td> float</td>
<td> Óbitos/confirmados </td>
<td> Taxa de mortalidade (mortes / confirmados) do último dia disponível igual ou anterior à data date. </td>
</tr>
<tr>
<td> estimated_population </td>
<td> integer</td>
<td> População estimada 2019 </td>
<td> População estimada para o local em 2020, segundo o IBGE. </td>
</tr>
<tr>
<td> estimated_population_2019 </td>
<td> integer</td>
<td> População estimada 2019 </td>
<td> População estimada para esse município/estado em 2019, segundo o IBGE. </td>
</tr>
<tr>
<td> is_last </td>
<td> bool</td>
<td> É a última atualização? </td>
<td> Campo pré-computado que diz se esse registro é o mais novo para esse local, pode ser True ou False (caso filtre por esse campo, use is_last=True ou is_last=False, não use o valor em minúsculas). </td>
</tr>
<tr>
<td> is_repeated </td>
<td> bool</td>
<td> Dado repetido? </td>
<td> Campo pré-computado que diz se as informações nesse registro foram publicadas pela Secretaria Estadual de Saúde no dia date ou se o dado é repetido do último dia em que o dado está disponível (igual ou anterior a date). Isso ocorre pois nem todas as secretarias publicam boletins todos os dias. Veja também o campo last_available_date. </td>
</tr>
</tbody>
</table>"""

In [20]:
metadata = pd.read_html(html_metadata)[0]
metadata

                                           Coluna  ...                                          Descrição
0                            epidemiological_week  ...                   Número da semana epidemiológica.
1                                            date  ...    Data de coleta dos dados no formato YYYY-MM-DD.
2                                 order_for_place  ...  Número que identifica a ordem do registro para...
3                                           state  ...          Sigla da unidade federativa, exemplo: SP.
4                                            city  ...  Nome do município (pode estar em branco quando...
5                                  city_ibge_code  ...                              Código IBGE do local.
6                                      place_type  ...  Tipo de local que esse registro descreve, pode...
7                             last_available_date  ...                     Data da qual o dado se refere.
8                        last_available_confirmed  ...  Número de casos confirmados do último dia disp...
9   last_available_confirmed_per_100k_inhabitants  ...  Número de casos confirmados por 100.000 habita...
10                                  new_confirmed  ...  Número de novos casos confirmados desde o últi...
11                          last_available_deaths  ...  Número de mortes do último dia disponível igua...
12                                     new_deaths  ...  Número de novos óbitos desde o último dia (not...
13                      last_available_death_rate  ...  Taxa de mortalidade (mortes / confirmados) do ...
14                           estimated_population  ...  População estimada para o local em 2020, segun...
15                      estimated_population_2019  ...  População estimada para esse município/estado ...
16                                        is_last  ...  Campo pré-computado que diz se esse registro é...
17                                    is_repeated  ...  Campo pré-computado que diz se as informações ...

[18 rows x 4 columns]